// $primary: #F9004D;
// $backcolor: black;
// $paracolor: #fcfc;
// $secoundcolor: white;

$primary: #5018FD;
$backcolor: #362B48;
$paracolor: #6BA1B4;
$secoundcolor: #FAEAFF;

body {
	font-family: 'Jobster Sans', sans-serif !important;
	padding: 0;
    margin: 0;
    box-sizing: border-box; 
}


.hero {
    height: 100vh;
    width: 100%;
    background-image: url(./image/pexels-mads-thomsen-2739013.jpg);
    background-size: cover;
    background-position: center;

	.logo{
		color: $primary !important;
		font-size: 35px !important;
		letter-spacing: 1px !important;
		cursor: pointer;
	}
}

.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
	animation: moveToRight 3s;

	.initial {
		animation: colorChanger1 5s;
	}

	.newslatter form{
		width: 380px;
		max-width: 100%;
		position: relative;
	}
	.newslatter form input:first-child{
		display: inline-block;
		width: 100%;
		padding: 14px 130px 14px 15px;
		border: 2px solid $primary;
		outline: none;
		border-radius: 30px;
	}
	.newslatter form input:last-child{
		position: absolute;
		display: inline-block;
		outline: none;
		border: none;
		padding: 10px 30px;
		border-radius: 30px;
		background-color: $primary;
		color:$secoundcolor;
		box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
		top: 6px;
		right: 6px; 
	}
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
	
	.about-text{
		width: 550px;
		animation: moveToRight 3s ease-in-out;
	}
	
	.about-text h2{
		color:$secoundcolor;
		font-size: 75px;
		text-transform: capitalize;
		margin-bottom: 20px;
	}
	.about-text h5{
		color:$secoundcolor;
		letter-spacing: 2px;
		font-size: 22px;
		margin-bottom: 25px;
		text-transform: capitalize;
	}
	.about-text p{
		color: $paracolor;
		letter-spacing: 1px;
		line-height: 28px;
		font-size: 18px;
		margin-bottom: 45px;
	}

	.main{
		width: 1130px;
		max-width: 95%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	
		.img_animation {
			animation: moveToLeft 3s ease-in-out;
		}
	}
}

.about img{
	height: auto;
	width: 430px;
}

h2{
	color:$secoundcolor;
	font-size: 75px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;

	.box{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		min-height: 400px;

		.card{
			height: 365px;
			width: 335px;
			padding: 20px 35px;
			background: #191919;
			border-radius: 20px;
			margin: 15px;
			position: relative;
			overflow: hidden;
			text-align: center;
		}
		.card i{
			font-size: 50px;
			display: block;
			text-align: center;
			margin: 25px 0px;
			color: $primary;
		
		}
	}
}

.navbootstrap { 
	background: transparent;
	display: flex;
	position: sticky !important;
}

// nav{
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// 	padding-top: 45px;
// 	padding-left: 8%;
// 	padding-right: 8%;
// }


// span{
// 	color: $primary;
// }
// nav ul li{
// 	list-style-type: none;
// 	display: inline-block;
// 	padding: 10px  25px;
// }
// nav ul li a{
// 	color: $backcolor;
// 	text-decoration: none;
// 	font-weight: bold;
// 	text-transform: capitalize;
// }
// nav ul li a:hover{
// 	color: $primary;
// 	transition: .4s;
// }

.btn{
	background-color: $primary !important;
	color:$secoundcolor !important;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px !important;
	border-radius: 30px !important;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.1);
}


h1{
	color:$secoundcolor;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color:$secoundcolor;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: $paracolor;
	letter-spacing: 2px;
	font-size: 20px;
}

button{
	background-color: $primary;
	color:$secoundcolor;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
	margin-right: 25px !important; 
}
button:hover{
	background-color: transparent;
	border: 2px solid $primary;
	cursor: pointer;
}

h5{
	color:$secoundcolor;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: $paracolor;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:$primary;
	color:$secoundcolor;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid $primary;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contact-me p{
	color:$secoundcolor;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:$primary;
	color:$secoundcolor;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid $primary;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 200px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color:$secoundcolor;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color:$secoundcolor;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  $primary;
	border-radius: 50%;
	margin: 22px 10px;
	color:$secoundcolor;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:$primary;
	bottom: 20px;
	font-size: 14px; 
}



.to_left {
    animation: moveToLeft 3s ease-in-out;
}

.to_up {
    animation: moveToUp 3s ease-in-out;
}

.to_right {
    animation: moveToRight 3s ease-in-out;
}



.name {
	animation: colorChanger2 5s;
}

@keyframes moveToLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes moveToUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    80% {
        transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes moveToRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    80% {
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes colorChanger1 {
	from {color: $primary;}
	to {color:$secoundcolor;}
}

@keyframes colorChanger2 {
	from {color:$secoundcolor;}
	to {color: $primary;}
}

.btn:white::after {
    background-color:$secoundcolor;
  }
  
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .btn-anim {
    animation: moveToUp 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

.work {
	margin-top: 5%;
}
// box section


.band {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	
	display: grid;
	
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
	
	@media (min-width: 30em) {
	  grid-template-columns: 1fr 1fr;
	}
	
	@media (min-width: 60em) {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  
  .card {
	background: white;
	text-decoration: none;
	color: #444;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	
	// sets up hover state
	position: relative;
	margin-top: 0;
	transition: all .1s ease-in;
	  
	&:hover {
	  top: -2px;
	  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
	}
	
	article {
	  padding: 20px;
	  flex: 1;
	  
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	}
	
	h1 {
	  font-size: 20px;
	  margin: 0;
	  color: #333;
	}
	
	p {
	  flex: 1;
	  line-height: 1.4;
	}
	
	span {
	  font-size: 12px;
	  font-weight: bold;
	  color: #999;
	  text-transform: uppercase;
	  letter-spacing: .05em;
	  margin: 2em 0 0 0;
	}
	
	.thumb {
	  margin-top: -10%;
	  margin-left: -13%;
	  margin-right: -13%;
	  padding-bottom: 60%;
	  background-size: cover;
	  background-position: center center;
	}
  }

  .item-5 {
	@media (min-width: 60em) {
	  grid-column: 1 / span 1.5;
	  
	  h1 {
		font-size: 24px;
	  }
	}
  }

  